[Unit]
Description=LLM Chat Openai API Service
After=network.target

[Service]
User=root
WorkingDirectory=/root/workspace/llmchat
Environment="PATH=/root/miniconda3/envs/llmchat/bin"
ExecStart=/root/miniconda3/envs/llmchat/bin/python startup.py -o
Restart=on-failure
PIDFile=/var/run/llmchat-openai-api.pid

[Install]
WantedBy=multi-user.target